@charset "utf-8";
/* CSS Document */

body {
	background: url(source/dfe.png);
	background-repeat: repeat;
	color: #0CF;
	
	}
h1{
	font-family:"Courier New", Courier, monospace; font-size:20px;
	text-align:center; text-decoration:underline;
	color:#006699;
	}
#finalreg{
	color:#FFF
	
}
#backIndex{
	color:#FFF}



h2{
	color: #006699;
	font: Tahoma, Geneva, sans-serif;
	font-size:36px;
	}
	
h5{
	font-family:"Lucida Console", Monaco, monospace;
	color:#006699;
}
h3{
	
	color:#9F0;
	text-align:center;
}
	
	

	
